<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Booked Appointments</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.name }}</td>
        <td>{{ appointment.email }}</td>
        <td>{{ appointment.phone }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>